body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

p.indent{
	text-indent: 5%;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	flex: 33.33%;
	padding: 5px;
  }

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.block {
	display: block;
	width: 100px;
	height: 100px;
	background-color: yellow;
}